html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.navbar {
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.1);
}

.hero {
    background: url('../img/hero.png') center/cover no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.nav-tabs .nav-link {
    color: #218d6d;
}

.nav-tabs .nav-link:hover {
    color: #1e8163;
}

footer {
    color: white;
}